<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Deal with shit</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor="let invite of invitations"  [ngClass]="invite.confirm  ? 'confirmed' : 'not_confirmed' ">
            <ion-label class="white_text">Match time: </ion-label>
            <ion-datetime class="white_text" displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="invite.Event.startTime" disabled></ion-datetime>
        </ion-item>
    </ion-list>


    <ion-list>
        <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
            <ion-icon [name]="item.icon" item-start></ion-icon>
            {{item.title}}
            <div class="item-note" item-end>
                {{item.note}}
            </div>
        </button>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>
</ion-content>
